#frame {    position: absolute;
    z-index: 0;
    top: 385px;
    left: -84px;
    width: 494px;
    height: 212px;
    transform: rotate(365deg);
    transform: rotateZ(-13deg) rotateX(0deg) rotateY(80deg) rotate(-4deg);
    /* opacity: .6; */
    transform-style: preserve-3d;
    /* border-radius: 100%; */
    /* box-shadow: 0px 0px 28px 20px rgb(95, 95, 95), 0 10px 10px rgba(0, 0, 0, 0.32); */}
.body_class {
    margin: 0px;
    position: relative;
    background-size: 545px 471px;
    top: -50px;
    left: 55px;
    transform: rotate(377deg);
    z-index: 3455235;
    background-image: url(https://cryptq.github.io/css/22_.jpg);
    background-repeat: no-repeat;

}

div.hood {
    -webkit-user-select: none;
    opacity: .94;
    cursor: zoom-in;
    background-image: url(https://cryptq.github.io/css/h.png);
    background-color: #607d8bbd;
    background-repeat: no-repeat;
    background-size: contain;
    top: 287px;
    left: 334px;
    width: 580px;
    border-radius: 447px 0px 414px;
    height: 335px;
    transform: rotate(356deg);
    position: absolute;
    background-blend-mode: difference;
}

.img_str {
    background-image: url(https://cryptq.github.io/css/w.png);
    height: 626px;
    width: 940px;
    position: absolute;
    background-size: contain;
    border-radius: 69px 485px 345px 322px;
}

.str_1 {
    position: absolute;
    width: 27%;
    height: 40px;
    z-index: 1;
    background-color: #6fff003b;
}

.str_2 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 65px;
    z-index: 1;
    background-color: #ffeb3b3b;
}

.str_3 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 130px;
    z-index: 1;
    background-color: #564113ad;
}

.str_4 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 195px;
    z-index: 1;
    background-color: #562213ad;
}

.str_5 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 260px;
    z-index: 1;
    background-color: #0079d040;
}

.str_6 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 325px;
    z-index: 1;
    background-color: #00045657;
}

.str_7 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 390px;
    z-index: 1;
    background-color: #d607d257;
}

.str_8 {
    position: absolute;
    right: 0;
    background-color: white;
    width: 907px;
    height: 691px;
}

.right_str {
    position: absolute;
    right: 0;
    background-color: white;
    width: 536px;
    height: 691px;
}



@keyframes transfrm {   
  0% {     
   transform:    rotate(325deg);   
  }   
  50% {     
    transform:    rotate(425deg); 
  } 
  100% {
    transform:    rotate(525deg); 
   }
}

.rotateZ {
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
