




.str_1 {
    position: absolute;
    width: 27%;
    height: 40px;
    z-index: 1;
    background-color: #6fff003b;
}

.str_2 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 65px;
    z-index: 1;
    background-color: #ffeb3b3b;
}

.str_3 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 130px;
    z-index: 1;
    background-color: #564113ad;
}

.str_4 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 195px;
    z-index: 1;
    background-color: #562213ad;
}

.str_5 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 260px;
    z-index: 1;
    background-color: #0079d040;
}

.str_6 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 325px;
    z-index: 1;
    background-color: #00377b6b;
}

.str_7 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 390px;
    z-index: 1;
    background-color: #0022ff36;
}

.right_str {
    position: absolute;
    right: 0;
    background-color: white;
    width: 536px;
    height: 691px;
}





