



.str_1 {
    position: absolute;
    width: 27%;
    height: 40px;
    z-index: 1;
    background-color: #6fff003b;
}

.str_2 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 65px;
    z-index: 1;
    background-color: #ffeb3b3b;
}

.str_3 {
    position: absolute;
    width: 27%;
    height: 40px;
    top: 130px;
    z-index: 1;
    background-color: #564113ad;
}
