@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic,cyrillic-ext,latin-ext");
body{background-color: #fdfdfd;}
.Absolute-Center {
/*position:absolute;*/
/*text-align:center;*/
/*width: 50%;*/
  height: 50%;
  overflow: auto;
  margin: auto;
  background: bisque;
  top: 0; left: 0; bottom: 0; right: 0;
}
#sh {width: 100%;
    border: 0;
    z-index: 9999999999999999999;
    height: 225px;
    background: #9932cc33;
    border-radius: 5px;
    top: 10px;
    position: relative;}
#sh:hover {width:151%;}
.tbd{font-size: 12px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #737373;
    margin: 10px;
    color: grey;
    width: 95%;}
.display {
  display: inline-block;
  margin: 10px;
}
.ttl {
    font-weight: bolder;
    color: white;
    font-family: 'PT Mono', monospace;
    position: absolute;
    font-size: x-large;
    right: 25px;
    top: 40px;
    width: 100%;
    text-align: right;
    display: inline;
    float: right;
}

.descript{
    font-size: 25px;
    padding: 1.5%;
    padding-right: 55px;
    text-align: right;
}

/*Browser Octicon designed by CEPBEP
http://dribbble.com/shots/1222601-browser-octicon?list=tags&tag=icon
*/

.browser {
    background-color: #fdfdfd;
    border: 4px solid #737373;
    border-top: 19px solid #737373;
    border-radius: 5px;
    height: 32px;
    position: relative;
    width: 60px;
    top: 28px;
}

.browser:before {
    background-color: #fdfdfd;
    box-shadow: 14px 0 0 0 #fdfdfd, 28px 0 0 0 #fdfdfd;
    content: '';
    display: block;
    position: absolute;
    height: 9px;
        width: 11.5px;
    top: -14px;
}

.browser:after {
    content: '';
    background-color: #737373;
    height: 9px;
    width: 48px;
    position: absolute;
    right: 0;
    top: -14px;
}

/*Terminal Octicon designed by Joel Glovier
http://dribbble.com/shots/1222603-terminal-octicon?list=users
*/

.terminal {
    background-color: #737373;
    border-radius: 5px;
    height: 55px;
    position: relative;
    width: 65px;
    z-index: 1;
    overflow: hidden;
    top: 28px;
    left: 6px;
}
.terminal:hover{
  background-color: grey;
        }

.terminal:before {
    background-color: #737373;
    content: '';
    height: 11px;
    position: absolute;
    border-right: 6px solid #fdfdfd;
    border-bottom: 6px solid #fdfdfd;
    width: 11px;
    top: 15px;
    transform: rotate(-45deg);
    z-index: 2;
    left: 5px;
}
.terminal:hover:before{
  background-color: grey;
        }

.terminal:after {
    background-color: #fdfdfd;
    content: "";
    height: 4px;
    left: 30px;
    top: 35px;
    position: absolute;
    width: 15px;
    z-index: 2;
}
        .svg {
    position: relative;
    width: 30%;
    left: 207px;
    top: -44px;
}
body {
  background: #D0FEF5;
}

.box {
  position: relative;
  height: 400px;
  width: 600px;
  display: block;
  margin: auto;
  background: none;
  margin-top: 0%;
}

.console {
  position: absolute;
  background: bisque;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 10px;
}

.close {
  position: absolute;
  background: #941B0C;
  border-radius: 50px;
  height: 4.5%;
  width: 3%;
  top: 5%;
  left: 10%;
}

.minimize {
  position: absolute;
  background: #F6AA1C;
  border-radius: 50px;
  height: 4.5%;
  width: 3%;
  top: 5%;
  left: 6%;
}

.expand {
  position: absolute;
  background: #81E979;
  border-radius: 50px;
  height: 4.5%;
  width: 3%;
  top: 5%;
  left: 2%;
}

.message {
    position: absolute;
    color: #ffffff;
  /*background:#ffcb8e00;*/
    top: 20%;
    left: 65px;
    font-family: 'PT Mono', monospace;
    font-size: 40px;
    font-weight: bolder;
    padding: 7px;
    border-radius: 5px;
}

@media all and (max-width: 600px) {
  .box {
    margin-top: 100px;
    width: 250px;
    height: 175px;
  }

  .message {
    position: absolute;
    color: #FAB2EA;
    top: 35%;
    left: 17%;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
  }
}

.screen p::after {
	content: '_';
	opacity: 0;
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0%{
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	
	90% {
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
