@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,400italic,700italic);
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: auto;
  width: auto;
}

body {
  font-family: 'Roboto Mono',monospace;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 20px solid white;
}

@media screen and (max-width: 1200px) {
  .nfo {
    width: 40%;
  }
  .nfo nav {
    float: left;
  }
  .nfo nav a {
    margin: 0 20px 0 0;
    line-height: 20px;
    clear: both;
  }

  /* #### Mobile Phones Portrait #### */
}
@media screen and (max-width: 1200px) and (max-device-width: 480px) and (orientation: portrait) {
  .nfo {
    width: auto;
    margin-top: 30px;
  }

  nav {
    float: left;
  }
  nav a {
    margin: 0 20px 0 0;
    line-height: 20px;
    clear: both;
  }
}
@media screen and (max-width: 480px) {
  .nfo {
    width: auto;
    margin-top: 30px;
  }

  nav {
    float: left;
  }
  nav a {
    margin: 0 20px 0 0;
    line-height: 20px;
    clear: both;
  }
}
/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .nfo {
    width: auto;
    margin-top: 30px;
  }

  nav {
    float: left;
  }
  nav a {
    margin: 0 20px 0 0;
    line-height: 20px;
    clear: both;
  }
}
@media screen and (max-width: 1000px) and (min-width: 100px) {
  .nfo {
    width: auto;
    margin-top: 30px;
  }

  nav {
    float: left;
  }
  nav a {
    margin: 0 20px 0 0;
    line-height: 20px;
    clear: both;
  }
  nav a:hover {
    color: white;
  }
}
@media screen and (min-width: 25em) {
  html {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
}
/* Safari <8 and IE <11 */
@media screen and (min-width: 25em) {
  html {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
}
@media screen and (min-width: 50em) {
  html {
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  }
}
h1 {
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0000ff;
}
a:hover {
  color: #ff0000;
  text-decoration: underline;
}

header {
  padding: 64px;
  width: 100%;
  color: white;
}
header h1 {
  float: left;
  color: white;
}
header h1 a {
  color: white;
}
@media screen and (max-width: 640px) {
  header h1 {
    width: 100%;
    margin-bottom: 12px;
  }
}
header nav {
  float: right;
  line-height: 16px;
}
header nav a {
  margin: 0 10px;
  color: white;
}
header nav a:hover {
  color: white;
}

.nfo {
  position: relative;
  width: 50%;
  bottom: 34px;
  margin-top: 360px;
  padding: 0 64px;
  font-size: 24px;
  left: 0;
}
.nfo > * {
  float: left;
  border: 4px solid #000;
  box-shadow: -6px 6px 0 #000;
  margin-top: 16px;
  padding: 12px 16px;
  background: #fff;
}

#work {
  padding: 4px;
  margin-top: 1vh;
}
#work h1 {
  display: inline-block;
  border: 2px solid #000;
  box-shadow: -4px 4px 0 #000;
  margin-bottom: 32px;
  padding: 12px 16px;
  background: #fff;
  flex: none;
}
#work > a {
  display: none;
}
#work article {
  float: left;
  width: 0;
  border: 0;
  margin-bottom: 0px;
  box-shadow: -4px 4px 0 #000;
  background: #fff;
}
@media screen and (max-width: 600px) {
  #work article {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  #work article {
    width: auto;
  }
}
#work article img {
  width: 100%;
  display: block;
}
#work article p {
  font-size: 16px;
  margin: 0px;
}
#work article p:nth-of-type(2) {
  margin-top: -4px;
}
#work article p a {
  word-wrap: break-word;
}
#work article > span {
  display: block;
  text-align: center;
  margin: 0px;
}

  /*
	article {
    
		float:left;
		width:0;
		@media screen and (max-width:600px) {width:calc((100vw - 128px - 64px) / 2);}
		@media screen and (max-width:600px) {width:calc(100vw - 128px);}
		border:0;
		margin-bottom:0px;
		box-shadow:-4px 4px 0 #000;
		background:#fff;
		
		img {width:100%;display:block;}
		p {
			font-size:14px;
			margin:0px;
			&:nth-of-type(2) {
				margin-top:-4px;
			}
			
			a {word-wrap:break-word;}
		}
		
		&>span {
			display:block;
			text-align:center;
			margin:0px;
		}
	}
}*/
/*Twitter Filled icon by Icons8 */
.icons8-Twitter-Filled {
  /* Customizes Twitter Filled icon */
  fill: #000;
  width: 32px;
  height: 32px;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}

/*Instagram Filled icon by Icons8 */
.icons8-Instagram-Filled {
  /* Customizes Instagram Filled icon */
  fill: #000;
  width: 32px;
  height: 32px;
}

/*Medium Filled icon by Icons8 */
.icons8-Medium-Filled {
  /* Customizes Medium Filled icon */
  fill: #000;
  width: 32px;
  height: 32px;
}

footer {
  margin: 0 0 34px 34px;
  font-size: 12px;
  padding: 24px;
  clear: both;
  padding-top: 200px;
}

#lightbox {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#lightbox.hidden {
  display: none;
}
#lightbox img {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*
@media screen and (max-width:400px) {
	body {
		background-size:100%;
		header {padding:22px;}
		.nfo {padding:0 22px;bottom:12px;}
		#work {padding:0px;}
		#work article {width:calc(100vw - 64px);}
		footer {margin:0 0 12px 12px;}
	}	 
}
*/
