@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic,cyrillic-ext,latin-ext");
/*
@import url("");
@font-face {
    font-family: 'PT Mono';
    font-style: normal;
    src: local('PT Mono'), local('PTMono-Regular'), url(font.ttf) format('truetype');
  } 
*/
body{font-family: 'PT Mono', monospace;}
