body, html{
	padding:0;
	margin: 0;
}

h1{
  text-align: center;
  font-family: Arial, sans-serif;
}

.grid{
	display: grid;
	max-width: 500px;
	margin: 0 auto 50px;
	height: 300px;
	grid-gap: 20px;
}

.grid div{
	background: #ccc;
	border-radius: 5px;
	border: 1px solid #bbb;
	box-sizing: border-box;
	padding: 15px;
	font: 1em Arial, sans-serif;
}



.grid--basic{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 480px){
	.grid--basic{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}



.grid--span2{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto, 1fr);
}

.grid--span2 div:nth-of-type(even){
	grid-column: 2 / span 2;
}



.grid--big-space{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto, 1fr);
}

.grid--big-space div:nth-of-type(2){
	grid-column: 2 / span 2;
	grid-row: 1 / span 2;
}



.grid--sidebars{
	grid-template-columns: 75px 1fr 75px;
}

.grid--named{
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 150px);
	grid-template-areas:
		"masthead masthead masthead"
		"sidebar content content"
		". content content"
		"footer footer footer";
}

.grid--named div:first-of-type{
	grid-area: masthead
}

.grid--named div:nth-of-type(2){
	grid-area: sidebar;
}

.grid--named div:nth-of-type(3){
	grid-area: content;
}

.grid--named div:last-of-type{
	grid-area: footer;
}

.container .grid{
	margin-bottom: 20px;
}


.grid--gallery{
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 100px;
	grid-auto-flow: dense;
	height: auto;
}

/* .grid--gallery div{
	min-height: 100px;
} */

.grid--gallery .small{
	grid-column: auto / span 1;
	grid-row: auto / span 1;
}

.grid--gallery .wide{
	grid-column: auto / span 2;
	grid-row: auto / span 1;
}

.grid--gallery .big{
	grid-column: auto / span 2;
	grid-row: auto / span 2;
}

.grid--gallery:nth-of-type(even) div:nth-of-type(1){
	grid-column: 3 / span 1;
}

.grid--gallery:nth-of-type(even) div:nth-of-type(2){
	grid-column: 4 / span 1;
}

.grid--gallery:nth-of-type(even) div:nth-of-type(3){
	grid-column: 1 / span 2;
}

.grid--gallery:nth-of-type(even) div:nth-of-type(4){
	grid-column: 3 / span 2;
}



.panel{
	padding: 50px 20px;
}

.panel .grid{
	margin-bottom: 0;
}

.panel--offset{
	background: #ccc;
}

.panel--offset .grid div{
	background: white;
}

.grid--thirds{
	grid-template-columns: 1fr 1fr 1fr;
}

.grid--thirds div:nth-of-type(2){
	align-self: flex-start;
	height: 100px;
}

.grid--halves{
	grid-template-columns: 1fr 1fr;
}